@import "imports/variables.scss";

.header {
    position: relative;
    width: 100%;
  
    .container {
      padding: 0;
    }
  
    .stackbit-logo {
      float: left;
    }
  
    .background-image {
      position: absolute;
      max-width: 100%;
      z-index: -1;
    }

    nav:before {
      content: '';
      display: table;
    }

    nav:after {
      content: '';
      display: table;
      clear: both;
    }
  
    nav {
      text-align: right;
      border-bottom: 1px solid rgba(62,178,253,0.2);
      padding: $small 0 calc(#{$small} - 4px);
      margin: 0 $tiny;
  
      @media screen and (min-width: $mobile) {
        margin: 0 $small;
      }
  
      @media screen and (max-width: $tabletMax) {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
      }
  
      .stackbit-logo {
        @media screen and (max-width: $tabletMax) {
          order: 1;
        }
      }
  
      .text-link {
        color: $navy;
        opacity: 0.7;
        position: relative;
        vertical-align: middle;
        transition: all .2s ease;
  
        &:not(.with-arrow) {
          font-weight: $light;
          opacity: .7;
          margin: $micro;
  
          @media screen and (max-width: $tabletMax) {
            margin: 0;
            padding: 6px 0 $micro 0;
            order: 2;
            width: calc(100% - 303px);
  
            &.scrolling {
              display: none;
            }
          }
  
          @media screen and (max-width: $mobileMax) {
            width: calc(100% - 229px);
          }
        }
  
        &:hover,
        &.with-arrow,
        &.active {
          color: $blue;
          opacity: 1;
        }
  
        &.active:before {
          content: '';
          width: 100%;
          height: 1px;
          background: $blue;
          position: absolute;
          bottom: -27px;
  
          @media screen and (max-width: $tabletMax) {
            bottom: -21px;
          }
        }
  
        &.with-arrow {
          margin-left: $small;
          padding: 6px 26px $micro 0;
  
          @media screen and (max-width: $mobileMax) {
            margin-left: $tiny;
  
            span {
              display: none;
            }
          }
  
          @media screen and (max-width: $tabletMax) {
            order: 3;
            margin-right: -2px;
          }
        }
      }
    }

    &.with-arrow {
      background: url(../../images/header/right-arrow.svg) no-repeat calc(100% - 24px) calc(50%);
    }
  
    &:not(.inversed) .with-arrow {
      background: url(../../images/header/right-arrow-blue.svg) no-repeat calc(100%) calc(50%);
    }
  
    &.inversed {
      nav {
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }
  
      .text-link {
        color: white;
        opacity: 1;
  
        &.with-arrow {
          color: white;
        }
      }
    }
}
  